.DS_Store
Thumbs.db
Desktop.ini
.directory

**/*.log
pnpm-debug.log*

node_modules/
.pnpm-store/
dist/
build/
.svelte-kit/
.output/

target/
docs-dev/

apps/desktop/src-tauri/gen/
apps/desktop/src-tauri/binaries/
apps/desktop/src-tauri/bin/

.env
.env.*
!.env.example
!.env.test

__pycache__/
*.py[cod]
.venv/
venv/

**/.vscode/
!**/.vscode/*
!**/.vscode/extensions.json
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
